
[alias]
    type = cat-file -t
    dump = cat-file -p
    lg   = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --
    lol  = log --color --graph --abbrev-commit --decorate --pretty=oneline
    lola = log --color --graph --abbrev-commit --decorate --pretty=oneline --all

[filter "lfs"]
    clean    = git-lfs clean -- %f
    smudge   = git-lfs smudge -- %f
    process  = git-lfs filter-process
    required = true

[core]
    excludesfile = ~/.gitignore

[user]
    name  = Nikita Braslavskiy
    email = nikita.braslavskiy@gmail.com

[push]
    default = simple

[diff]
    tool = vimdiff

[advice]
    statusHints  = false
    detachedHead = false
